* {
    margin: 0;
    padding: 0;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin-left: 86%;
    padding: 15px;
    gap: 8px;
}

.googleImgCenter {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.inputForm {
    border-radius:10px;
    line-height: 18px;
}

.inputForm:hover {
    background-color: gray;
}

.InputBtn {
    border-radius:10px;
    border-color: transparent;
}

.InputBtn:hover {
    background-color: gray;
}