* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 15px;
}

.navbarItem {
    margin: 10px;
}

.googleImgCenter {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.inputForm {
    border-radius:10px;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #e7dede;
    box-shadow: none;
    margin: 0 auto;
    width: 2100px;
    max-width: 584px;
    margin-top: 8px;
}

.inputForm:hover {
    background-color: rgb(235, 229, 229);
}

.InputBtn {
    border-radius:10px;
    border-color: transparent;
}

.InputBtn:hover {
    background-color: rgb(235, 229, 229);
}